dj-database-url
django==1.11
gunicorn
psycopg2
whitenoise
dj-static
Unipath
python-decouple
Pillow
Markdown
bleach
django-material
raven
django-tables2
django-phonenumber-field
django-guardian
django-notifications-hq
djangorestframework