{% extends 'client/dash.html' %}
{% load i18n %}

{#{% block head %}#}
{#    {% block title %} Account Settings {% endblock %}#}
{#{% endblock %}#}
{% block content %}
    <div class="row" style="margin-top: 2em">
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h3 style="margin-top: 0">{% trans 'Profile Informations' %}</h3>
            <div class="container">
                <div class="row">
                    <label class="col-md-3">Username</label>
                    <span class="col-md-6">{{ user.username}}</span>
                </div>
                <div class="row">
                    <label class="col-md-3">Company name</label>
                    <span class="col-md-6">{{ user.client.company_name }}</span>
                </div>
                <div class="row">
                    <label class="col-md-3">Registration Info</label>
                    <span class="col-md-6">{{ user.client.registration_info }}</span>
                </div>
                <div class="row">
                    <label class="col-md-3">Website</label>
                    <span class="col-md-6">{{ user.client.website }}</span>
                </div>
                <div class="row">
                    <label class="col-md-3">Additional info</label>
                    <span class="col-md-6">{{ user.client.additional_info }}</span>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}