{% extends 'service/dash.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <!-- iCheck -->
    <link href={% static "extra/green.css" %} rel="stylesheet">
    {#    <!-- Datatables -->#}
    {#    <link href="{% static "extra/dataTables.bootstrap.min.css" %}" rel="stylesheet">#}
    {#    <link href="{% static "extra/buttons.bootstrap.min.css"%}" rel="stylesheet">#}
    {#    <link href="{% static "extra/fixedHeader.bootstrap.min.css"%}" rel="stylesheet">#}
    {#    <link href="{% static "extra/responsive.bootstrap.min.css"%}" rel="stylesheet">#}
    {#    <link href="{% static "extra/scroller.bootstrap.min.css"%}" rel="stylesheet">#}
{% endblock %}

{% block content %}
    <!-- page content -->
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Manager Selection Module</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

{#            <div class="clearfix"></div>#}

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Select Technical Manager </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <p> You can select Technical Manager from the list below. Only select those who are
                            available. </p>

                        <div class="table-responsive">
                            <form method="post" action="{% url 'service:select_manager' %}">
                                {% csrf_token %}

                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title"> Manager ID</th>
                                        <th class="column-title"> Full Name</th>
                                        <th class="column-title"> Designation</th>
                                        <th class="column-title">Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {#                                    <input type="hidden" name="size" value="{{ managers.count }}"/>#}
                                    {% for tech_manager in managers %}
                                        <tr>

                                            <td class=" ">{{ tech_manager.user_id }}</td>
                                            <td class=" "> {{ tech_manager.get_screen_name }}</td>
                                            <td class=" "> {{ tech_manager.user.employee.designation }}</td>
                                            <td>
                                                <div class="col-sm-10">
                                                    <select name="{{ tech_manager.user_id }}">
                                                        <option value="SELECT">Select</option>
                                                        <option value="RELEASE">Release</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> All Technical Managers </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title"> Manager ID</th>
                                    <th class="column-title"> Full Name</th>
                                    <th class="column-title"> Designation</th>
                                    <th class="column-title">Current Supervisor</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for tech_manager in all_managers %}
                                    <tr>

                                        <td class=" ">{{ tech_manager.user_id }}</td>
                                        <td class=" "> {{ tech_manager.get_screen_name }}</td>
                                        <td class=" "> {{ tech_manager.user.employee.designation }}</td>
                                        <td class=" "> {{ tech_manager.user.employee.manager.user_id }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block js %}
    <!-- iCheck -->
    <script src="{% static 'extra/iCheck/icheck.min.js' %}"></script>
{% endblock %}