{% extends 'service/dash.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>{% trans 'Update Order' %}</h1>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h3 style="margin-top: 0">{% trans 'Update Order' %}</h3>
            <form enctype="multipart/form-data" class="form-horizontal" method="post"
                  action="{% url 'service:update_order' order.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Client Username" class="col-sm-2 control-label">Client Username</label>
                    <div class="col-sm-10">

                        {#                        <input type="text" name="client_username" id="id_client_username" class="form-control"#}
                        {#                               maxlength="50">#}
                        <select class="js-data-example-ajax" style="width: 100mm" name="client_username">
                            {#                            <option></option>#}
                            {% if order.client.get_username %}
                                <option value="{{ order.client.id }}">{{ order.client.get_username }}</option>
                            {% endif %}
                        </select>

                    </div>
                </div>

                {% for field in form.visible_fields %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                            {% for error in field.errors %}
                                <label class="control-label">{{ error }}</label>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="review_note" class="col-sm-2 control-label">Review Note</label>
                    <div class="col-sm-10">
                    <textarea name="review_note" maxlength="300" id="id_review_note" rows="4" class="form-control"
                              cols="40"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
                    </div>
                </div>
            </form>
        </div>
        <div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {#    <script src="{% static 'js/select2.js' %}"></script>#}
    <script>window.jQuery || document.write('<script src="{%  static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'js/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-data-example-ajax').select2({
                ajax: {
                    url: "{% url 'clientsAPI'%}",
                    dataType: 'json',
                    {#					delay: 250,#}
                    data: function (params) {
                        var query = {
                            q: params.term
                        };
                        return query
                    },
                    results: function (data, params) {
                        return {
                            results: data
                        }
                    },
                    cache: true
                },
                placeholder: 'Search for a client username',
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                {#                templateResult: showName,#}
                templateSelection: formatSelection
            });

            function showName(repo) {
                return repo.text
            }

            function formatSelection(results) {
                return '<option value="' + results.id + '">' + results.text + '</option>'
            }
        });
    </script>
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>

{% endblock %}