{% extends 'service/dash.html' %}
{% load i18n %}
{% load staticfiles %}

{#{% block head %}#}
{#    {% block title %} Account Settings {% endblock %}#}
{#{% endblock %}#}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Order Id:</td>
                                        <td>{{ order.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Status:</td>
                                        <td>{{ order.order_status }}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Progress:</td>
                                        <td>{{ order.progress }} %</td>
                                    </tr>
                                    <tr>
                                        <td>Client Username:</td>
                                        <td>{{ order.client.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Client Name:</td>
                                        <td>{{ order.client_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Type:</td>
                                        <td>{{ order.order_type }}</td>
                                    </tr>
                                    <tr>
                                        <td>Deadline:</td>
                                        <td>{{ order.deadline }}</td>
                                    </tr>
                                    <tr>
                                        <td>Quantity:</td>
                                        <td>{{ order.quantity }}</td>
                                    </tr>
                                    <tr>
                                        <td>Budget:</td>
                                        <td>{{ order.budget }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Address:</td>
                                        <td>{{ order.shipping_address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Specification:</td>
                                        <td>{{ order.specification }}</td>
                                    </tr>
                                    <tr>
                                        <td>Created At:</td>
                                        <td>{{ order.created_at }}</td>
                                    </tr>
                                    <tr>
                                        <td>Modified At:</td>
                                        <td>{{ order.updated_at }}</td>
                                    </tr>
                                    <tr>
                                        <td>Modified By:</td>
                                        <td>{{ order.submitted_by.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Approved By:</td>
                                        <td>{{ order.approved_by }}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Review Note:</td>
                                        <td>{{ order.review_note }}</td>
                                    </tr>
                                    <tr>
                                        <td>Current Approval state:</td>
                                        <td>
                                            {% if order.approved == 0 %}
                                                <span class="label label-info" style="width: 100%;text-align: center">
                                                    Not Approved
                                                </span>
                                            {% elif order.approved == 1 %}
                                                <span class="label label-success"
                                                      style="width: 100%;text-align: center">
                                                    Approved
                                                 </span>
                                            {% else %}
                                                <span class="label label-danger" style="width: 100%;text-align: center">
                                                    Rejected
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if order.design %}
                                        <tr>
                                            <td>Design</td>
                                            <td>
                                                <a href="{{ order.design.url }}">
                                                        <span class="label label-success">
                                                            <i class="fa fa-download"></i>
                                                            Download
                                                        </span>
                                                </a>
                                                {#                                                    <button>#}
                                                {#                                                        <a href="{{ order.design.url }}"></a>#}
                                                {#                                                    </button>#}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                {#                                    <div class="col-sm-offset-5 col-sm-10">#}
                                {#                                        <form method="post" action="{% url 'service:view_order' order.id %}">#}
                                {#                                            <input type="submit" class="btn btn-success">{% trans 'Approve' %}</input>#}
                                {#                                            <input type="submit" class="btn btn-danger">{% trans 'Reject' %}</input>#}
                                {#                                        </form>#}
                                {#                                    </div>#}

                                <div class="col-sm-offset-3 col-sm-10">

                                    <form method="post" action="{% url 'service:view_order' order.id %}">
                                        {% csrf_token %}
                                        <table>
                                            {% if order.submitted_by.profile.account_type == 0 or order.submitted_by.employee.manager_id == user.employee.id %}
                                                <tr>
                                                    <td><label> Write your review note:</label></td>
                                                </tr>
                                                <tr>
                                                    <td><textarea name="review_note" cols="80" rows="5"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td><br/></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input class="btn btn-success" type="submit" value="Approve"
                                                               name="_approve">
                                                        <input class="btn btn-danger" type="submit" value="Reject"
                                                               name="_reject">
                                                        <input class="btn btn-info" type="submit" value="Edit"
                                                               name="_edit">
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                    <td>
                                                        <input class="btn btn-info" type="submit" value=" View Order Histories"
                                                               name="_histories">
                                                    </td>
                                                </tr>
                                        </table>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
{% endblock %}