{% load staticfiles %}
{% load i18n %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
<style type="text/css">
        {{ form.css }}
</style>
{% load material_form %}

{% block body %}

{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {% form form=form %}{% endform %}#}
{#    <button type="submit" class="btn btn-primary btn-lg">{%  trans 'Log In' %}</button>#}
{#</form>#}
{#    <div>#}
{#          <a href="{% url 'auth:signup' %}" class="btn btn-link">{% trans 'Sign up' %}</a>#}
{#    </div>#}

    <div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{{ form.title }}</span>
                    {% csrf_token %}
                    {% include form.template %}
                    {% block formbody %}{% endblock %}
                </div>
                <div class="card-action">
                    {% block actions %}
                    <div class="right-align">
{#                        <button class="waves-effect waves-light btn" type="submit">Sign In</button>#}
                        {% include form.buttonCancel %}
                        {% include form.buttonConfirm %}
                    </div>
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}